name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: sudo apt install -y make gcc-arm-none-eabi libnewlib-arm-none-eabi
      - name: make clean
        run: cd m20 && make clean
      - name: make
        run: cd m20 && make
